.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    font-weight: 600;
    letter-spacing: 0.5px;

    &.primary-button {
        background: linear-gradient(135deg, #e1034d, #b42911);
        color: white;
        box-shadow: 0 5px 15px rgba(225, 3, 77, 0.3);
    }

    &:hover {
        transform: translateY(-2px);
        opacity: 0.95;
    }

    &:active {
        transform: scale(0.95);
    }
}